<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.greiser.uebenlollipop5_0">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Ueben"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateAlwaysHidden">
        <activity
            android:name=".NameActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MatheActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SuperActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DeutschRightWrongActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".BlockMathActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HowMany"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ScoreActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MenuMathActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DeutschWriteActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DeutschSingularPluralActivity"
            android:screenOrientation="landscape"/>

    </application>

</manifest>